name: CI/CD to Harbor

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3

    # 1. 빌드는 여전히 외부 주소(1.19)로 합니다. (Runner가 접근해야 하니까)
    - name: Build Docker Image
      run: docker build -t ${{ secrets.HARBOR_URL }}/library/my-web-app:${{ github.sha }} .

    - name: Login to Harbor
      run: echo "${{ secrets.HARBOR_PASSWORD }}" | docker login ${{ secrets.HARBOR_URL }} -u ${{ secrets.HARBOR_USERNAME }} --password-stdin

    # 2. 푸시도 외부 주소(1.19)로 합니다.
    - name: Push to Harbor
      run: docker push ${{ secrets.HARBOR_URL }}/library/my-web-app:${{ github.sha }}

    # 3. ★여기가 핵심!★ 
    # 쿠버네티스한테는 "너는 내부 주소(10.20)에서 가져가!" 라고 
    # 거짓말(?)을 해서 파일(deployment.yaml)을 고쳐줍니다.
    - name: Update Kubernetes Manifest
      run: |
        sed -i "s|image: .*|image: 192.168.10.20/library/my-web-app:${{ github.sha }}|g" deployment.yaml
        
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add deployment.yaml
        git commit -m "Update image tag to ${{ github.sha }}"
        
        # 충돌 방지를 위해 최신 코드를 당겨오고 합칩니다.
        git pull origin main --rebase
        
        git push
