name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-push-update:
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/my-web-app:${{ github.sha }}

    - name: Update K8s Manifest
      run: |
        sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/my-web-app:${{ github.sha }}|g" deployment.yaml
        
    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add deployment.yaml
        git commit -m "Update image tag to ${{ github.sha }}"
        git push
